@import "tailwindcss";

/* Ẩn thanh cuộn cho mượt mà (dùng ở phần bộ lọc) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}